<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3>Sign In</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="signInForm">
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="username" formControlName="email">
          </div>
          <div class="text-white d-flex justify-content-center mb-4"
               style="font-weight: bold"
               *ngIf="signInForm.controls.email.hasError('email') &&
                                      signInForm.controls.email.touched">
            Your input email is wrong format!
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="bi bi-key-fill"></i></span>
            </div>
            <input type="password" class="form-control" placeholder="password" formControlName="password">
          </div>
          <div class="text-white d-flex justify-content-center mb-2"
               style="font-weight: bold"
               *ngIf="signInForm.controls.password.hasError('required') &&
                                      signInForm.controls.password.touched">
            Please input password!
          </div>
          <div class="text-white d-flex justify-content-center mb-2"
               style="font-weight: bold"
               *ngIf="signInForm.controls.password.hasError('minlength') &&
                                      signInForm.controls.password.dirty">
            Please input password greeter than 6 character!
          </div>
          <div class="row align-items-center remember">
            <input type="checkbox">Remember Me
          </div>
          <div class="form-group">
            <input type="button" (click)="onSubmit()" value="Login" class="btn float-right login_btn "
                   [disabled]="signInForm.invalid">
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center links">
          Don't have an account?<a href="#">Sign Up</a>
        </div>
        <div class="d-flex justify-content-center">
          <a href="#">Forgot your password?</a>
        </div>
      </div>
    </div>
  </div>
</div>
