<app-header></app-header>
<div class="bg-menu center-box mb-4">
  <h1 style="color: white;
    font-size: 50px;">FURAMA CUSTOMER</h1>
</div>
<div class="container">
  <div class="mb-4 w-100">
    <button class="btn w-100 delete" data-toggle="modal" data-target="#add">ADD NEW CUSTOMER</button>
  </div>
  <table class="w-100 table-hover">
    <tr>
      <th class="text-center">Id</th>
      <th class="text-center">Name</th>
      <th class="text-center">Day of birth</th>
      <th class="text-center">Id card</th>
      <th class="text-center">Address</th>
      <th class="text-center">Type customer</th>
      <th class="text-center">Edit</th>
      <th class="text-center">Delete</th>
    </tr>
    <tr>
      <td class="text-center">CU-0001</td>
      <td class="text-center">Hảo Hảo</td>
      <td class="text-center">08/07/1999</td>
      <td class="text-center">201787802</td>
      <td class="text-center">Số 12 Hòa An 14, Cẩm Lệ, Đà Nẵng</td>
      <td class="text-center">DIAMOND</td>
      <td class="text-center">
        <button class="btn delete" data-toggle="modal" data-target="#edit">
          Edit
        </button>
      </td>
      <td class="text-center">
        <button class="btn delete" data-toggle="modal" data-target="#delete">
          Delete
        </button>
      </td>
    </tr>
    <tr>
      <td class="text-center">CU-0001</td>
      <td class="text-center">Hảo Hảo</td>
      <td class="text-center">08/07/1999</td>
      <td class="text-center">201787802</td>
      <td class="text-center">Số 12 Hòa An 14, Cẩm Lệ, Đà Nẵng</td>
      <td class="text-center">DIAMOND</td>
      <td class="text-center">
        <button class="btn delete" data-toggle="modal" data-target="#edit">
          Edit
        </button>
      </td>
      <td class="text-center">
        <button class="btn delete" data-toggle="modal" data-target="#delete">
          Delete
        </button>
      </td>
    </tr>
    <tr>
      <td class="text-center">CU-0001</td>
      <td class="text-center">Hảo Hảo</td>
      <td class="text-center">08/07/1999</td>
      <td class="text-center">201787802</td>
      <td class="text-center">Số 12 Hòa An 14, Cẩm Lệ, Đà Nẵng</td>
      <td class="text-center">DIAMOND</td>
      <td class="text-center">
        <button class="btn delete" data-toggle="modal" data-target="#edit">
          Edit
        </button>
      </td>
      <td class="text-center">
        <button class="btn delete" data-toggle="modal" data-target="#delete">
          Delete
        </button>
      </td>
    </tr>
    <tr>
      <td class="text-center">CU-0001</td>
      <td class="text-center">Hảo Hảo</td>
      <td class="text-center">08/07/1999</td>
      <td class="text-center">201787802</td>
      <td class="text-center">Số 12 Hòa An 14, Cẩm Lệ, Đà Nẵng</td>
      <td class="text-center">DIAMOND</td>
      <td class="text-center">
        <button class="btn delete" data-toggle="modal" data-target="#edit">
          Edit
        </button>
      </td>
      <td class="text-center">
        <button class="btn delete" data-toggle="modal" data-target="#delete">
          Delete
        </button>
      </td>
    </tr>
    <tr>
      <td class="text-center">CU-0001</td>
      <td class="text-center">Hảo Hảo</td>
      <td class="text-center">08/07/1999</td>
      <td class="text-center">201787802</td>
      <td class="text-center">Số 12 Hòa An 14, Cẩm Lệ, Đà Nẵng</td>
      <td class="text-center">DIAMOND</td>
      <td class="text-center">
        <button class="btn delete" data-toggle="modal" data-target="#edit">
          Edit
        </button>
      </td>
      <td class="text-center">
        <button class="btn delete" data-toggle="modal" data-target="#delete">
          Delete
        </button>
      </td>
    </tr>
    <tr>
      <td colspan="8" class="text-center">
        <button class="btn delete me-md-3">
          Previous
        </button>
        <button class="btn delete">
          Next
        </button>
      </td>
    </tr>
  </table>
</div>
<app-footer></app-footer>

