<div class="footer">
  <div class="footer-box row h-100">
    <div class="col-md-4 map h-100">
      <div style="padding: 65px 45px 45px 45px" class="h-100">
        <h2 style="font-weight: 700; color: #cbbe73; font-family: Playfair Display, serif">How to Get to Us</h2>
        <div>
          <p>Furama is a premier base for exploring one of Asia’s most exciting new destinations.
            Just a short drive from Danang lay four UNESCO-listed World Heritage Sites:</p>
          <p class="w-50 view-map center-box">View on Map ></p>
        </div>
        <h4 style="font-weight: 700; color: #cbbe73; font-family: Playfair Display, serif">Local Places</h4>
        <table>
          <tr>
            <td>1.</td>
            <td style="font-weight: 500">The former imperial city of HUE</td>
            <td style="color: #707070; text-align: right">2 hours</td>
          </tr>
          <tr>
            <td>2.</td>
            <td style="font-weight: 500">The ancient Hoi An</td>
            <td style="color: #707070; text-align: right">30 minutes</td>
          </tr>
          <tr>
            <td>3.</td>
            <td style="font-weight: 500">Champa civilization, My Son</td>
            <td style="color: #707070; text-align: right">90 minutes</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-md-8 more-action h-100">
      <div style="padding: 65px 0px 45px 60px" class="h-100">
        <div class="row h-75">
          <div class="col-md-6">
            <div class="m-3"><a href="#" class="another-action">News</a></div>
            <div class="m-3"><a href="#" class="another-action">Rack Rate</a></div>
            <div class="m-3"><a href="#" class="another-action">Lifestyle Blog</a></div>
            <div class="m-3"><a href="#" class="another-action">Work with us</a></div>
            <div class="m-3"><a href="#" class="another-action">Contract us</a></div>
          </div>
          <div class="col-md-6">
            <h4 style="font-weight: 700; color: #cbbe73; font-family: Playfair Display, serif">Contract
              US</h4>
            <p style="font-size: 12px">
              103 - 105 Vo Nguyen Giap Street,
              Khue My Ward, Ngu Hanh Son District,
              Danang City, Vietnam
            </p>
            <p style="font-size: 12px">Tel.: 84-236-3847 333/888 * Fax: 84-236-3847 666</p>
            <p style="font-size: 12px">
              Email:
              <span>
                                <a href="#" class="gmail">reservation@furamavietnam.com</a> *
                                <a href="#" class="gmail">www.furamavietnam.com</a>
                            </span>
            </p>
            <p style="font-size: 12px">
              GDS Codes: Amadeus-GD DADFUR, Galileo/Apollo-GD 16236, Sabre-GD 032771, Worldspan- GD DADFU
            </p>
            <hr style="border: solid 1px #707070">
            <div class="mt-3">
              <a href="#" class="fb-yt">
                <img src="https://furamavietnam.com/wp-content/uploads/2019/06/incon-Facbook-1.png"
                     alt="#">
              </a>
              <a href="#" class="fb-yt">
                <img src="https://furamavietnam.com/wp-content/uploads/2019/06/social-ins.png" alt="#">
              </a>
              <a href="#" class="fb-yt">
                <img src="https://furamavietnam.com/wp-content/uploads/2021/10/social-youtube.png"
                     alt="#">
              </a>
            </div>
          </div>
        </div>
        <div class="row h-25">
          <div class="col-md-6 center-box" style="justify-content: start">
            <img src="https://furamavietnam.com/wp-content/uploads/2019/02/Ariyana-Tourism-Complex-02-2.png"
                 alt="#"
                 style="width: 500px; height: 70px">
          </div>
          <div class="col-md-6 center-box">
            © 2018 Furama Resort Danang.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
