<app-header></app-header>
<div class="bg-menu center-box mb-5">
  <h1 style="color: white; font-size: 50px">FURAMA FACILITY</h1>
</div>

<div class="container">
  <div class="mb-5 w-100">
    <button class="btn w-100 delete" data-toggle="modal" data-target="#add">ADD NEW FACILITY</button>
  </div>
  <div class="row space-between-box mb-5">
    <div class="card" style="width: 32%;">
      <img class="card-img-top"
           src="https://www.banyantree.com/_next/image?url=https%3A%2F%2Fwww.banyantree.com%2Fassets%2F2021-10%2Fhot-spring-retreat-twin-other-image.jpg&w=640&q=75"
           alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Hot Spring Retreat - Twin</h5>
        <p class="card-text">A cosy retreat with a personal hot spring pool</p>
        <ul style="list-style: none" class="p-0">
          <li class="row">
            <div class="col-md-2 center-box">
              <span style="color: #046056"><i class="bi bi-people-fill"></i></span>
            </div>
            <div class="col-md-10">
              <span>2</span>
            </div>
          </li>
          <li class="row">
            <div class="col-md-2 center-box">
              <span style="color: #046056"><i class="bi bi-aspect-ratio-fill"></i></span>
            </div>
            <div class="col-md-10">
              <span>70 m<sup>2</sup></span>
            </div>
          </li>
          <li class="row">
            <div class="col-md-2 center-box">
              <img src="https://www.banyantree.com/assets/icons/Rooms%20-%20Mountain.svg" alt="#"
                   style="width: 30px; height: 30px">
            </div>
            <div class="col-md-10">
              <span>Moutain view</span>
            </div>
          </li>
        </ul>
        <div class="mb-3">
          <button class="btn w-100 delete" data-toggle="modal" data-target="#delete">Delete</button>
        </div>
        <div class="mt-3">
          <button class="btn w-100 edit" data-toggle="modal" data-target="#edit">Edit</button>
        </div>
      </div>
    </div>
    <div class="card" style="width: 32%;">
      <img class="card-img-top" src="https://www.banyantree.com/_next/image?url=https%3A%2F%2Fwww.banyantree.com%2Fassets%2F2021-11%2Fhot-spring-retreat-king-hero-image.jpg&w=640&q=75" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Hot Spring Retreat - Twin</h5>
        <p class="card-text">A cosy retreat with a personal hot spring pool</p>
        <ul style="list-style: none" class="p-0">
          <li class="row">
            <div class="col-md-2 center-box">
              <span style="color: #046056"><i class="bi bi-people-fill"></i></span>
            </div>
            <div class="col-md-10">
              <span>2</span>
            </div>
          </li>
          <li class="row">
            <div class="col-md-2 center-box">
              <span style="color: #046056"><i class="bi bi-aspect-ratio-fill"></i></span>
            </div>
            <div class="col-md-10">
              <span>70 m<sup>2</sup></span>
            </div>
          </li>
          <li class="row">
            <div class="col-md-2 center-box">
              <img src="https://www.banyantree.com/assets/icons/Rooms%20-%20Mountain.svg" alt="#"
                   style="width: 30px; height: 30px">
            </div>
            <div class="col-md-10">
              <span>Moutain view</span>
            </div>
          </li>
        </ul>
        <div class="mb-3">
          <button class="btn w-100 delete" data-toggle="modal" data-target="#delete">Delete</button>
        </div>
        <div class="mt-3">
          <button class="btn w-100 edit" data-toggle="modal" data-target="#edit">Edit</button>
        </div>
      </div>
    </div>
    <div class="card" style="width: 32%;">
      <img class="card-img-top" src="https://www.banyantree.com/_next/image?url=https%3A%2F%2Fwww.banyantree.com%2Fassets%2F2021-11%2Fhot-spring-pool-villa-hero-image.jpg&w=640&q=75" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Hot Spring Retreat - Twin</h5>
        <p class="card-text">A secluded villa surrounded by a private Chinese garden, with a hot spring pool</p>
        <ul style="list-style: none" class="p-0">
          <li class="row">
            <div class="col-md-2 center-box">
              <span style="color: #046056"><i class="bi bi-people-fill"></i></span>
            </div>
            <div class="col-md-10">
              <span>2</span>
            </div>
          </li>
          <li class="row">
            <div class="col-md-2 center-box">
              <span style="color: #046056"><i class="bi bi-aspect-ratio-fill"></i></span>
            </div>
            <div class="col-md-10">
              <span>180 m<sup>2</sup></span>
            </div>
          </li>
          <li class="row">
            <div class="col-md-2 center-box">
              <img src="https://www.banyantree.com/assets/icons/Rooms%20-%20Mountain.svg" alt="#"
                   style="width: 30px; height: 30px">
            </div>
            <div class="col-md-10">
              <span>Garden</span>
            </div>
          </li>
        </ul>
        <div class="mb-3">
          <button class="btn w-100 delete" data-toggle="modal" data-target="#delete">Delete</button>
        </div>
        <div class="mt-3">
          <button class="btn w-100 edit" data-toggle="modal" data-target="#edit">Edit</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row space-between-box mb-5">
    <div class="card" style="width: 32%;">
      <img class="card-img-top"
           src="https://www.banyantree.com/_next/image?url=https%3A%2F%2Fwww.banyantree.com%2Fassets%2F2021-10%2Fhot-spring-retreat-twin-other-image.jpg&w=640&q=75"
           alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Hot Spring Retreat - Twin</h5>
        <p class="card-text">A cosy retreat with a personal hot spring pool</p>
        <ul style="list-style: none" class="p-0">
          <li class="row">
            <div class="col-md-2 center-box">
              <span style="color: #046056"><i class="bi bi-people-fill"></i></span>
            </div>
            <div class="col-md-10">
              <span>2</span>
            </div>
          </li>
          <li class="row">
            <div class="col-md-2 center-box">
              <span style="color: #046056"><i class="bi bi-aspect-ratio-fill"></i></span>
            </div>
            <div class="col-md-10">
              <span>70 m<sup>2</sup></span>
            </div>
          </li>
          <li class="row">
            <div class="col-md-2 center-box">
              <img src="https://www.banyantree.com/assets/icons/Rooms%20-%20Mountain.svg" alt="#"
                   style="width: 30px; height: 30px">
            </div>
            <div class="col-md-10">
              <span>Moutain view</span>
            </div>
          </li>
        </ul>
        <div class="mb-3">
          <button class="btn w-100 delete" data-toggle="modal" data-target="#delete">Delete</button>
        </div>
        <div class="mt-3">
          <button class="btn w-100 edit" data-toggle="modal" data-target="#edit">Edit</button>
        </div>
      </div>
    </div>
    <div class="card" style="width: 32%;">
      <img class="card-img-top" src="https://www.banyantree.com/_next/image?url=https%3A%2F%2Fwww.banyantree.com%2Fassets%2F2021-11%2Fhot-spring-retreat-king-hero-image.jpg&w=640&q=75" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Hot Spring Retreat - Twin</h5>
        <p class="card-text">A cosy retreat with a personal hot spring pool</p>
        <ul style="list-style: none" class="p-0">
          <li class="row">
            <div class="col-md-2 center-box">
              <span style="color: #046056"><i class="bi bi-people-fill"></i></span>
            </div>
            <div class="col-md-10">
              <span>2</span>
            </div>
          </li>
          <li class="row">
            <div class="col-md-2 center-box">
              <span style="color: #046056"><i class="bi bi-aspect-ratio-fill"></i></span>
            </div>
            <div class="col-md-10">
              <span>70 m<sup>2</sup></span>
            </div>
          </li>
          <li class="row">
            <div class="col-md-2 center-box">
              <img src="https://www.banyantree.com/assets/icons/Rooms%20-%20Mountain.svg" alt="#"
                   style="width: 30px; height: 30px">
            </div>
            <div class="col-md-10">
              <span>Moutain view</span>
            </div>
          </li>
        </ul>
        <div class="mb-3">
          <button class="btn w-100 delete" data-toggle="modal" data-target="#delete">Delete</button>
        </div>
        <div class="mt-3">
          <button class="btn w-100 edit" data-toggle="modal" data-target="#edit">Edit</button>
        </div>
      </div>
    </div>
    <div class="card" style="width: 32%;">
      <img class="card-img-top" src="https://www.banyantree.com/_next/image?url=https%3A%2F%2Fwww.banyantree.com%2Fassets%2F2021-11%2Fhot-spring-pool-villa-hero-image.jpg&w=640&q=75" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Hot Spring Retreat - Twin</h5>
        <p class="card-text">A secluded villa surrounded by a private Chinese garden, with a hot spring pool</p>
        <ul style="list-style: none" class="p-0">
          <li class="row">
            <div class="col-md-2 center-box">
              <span style="color: #046056"><i class="bi bi-people-fill"></i></span>
            </div>
            <div class="col-md-10">
              <span>2</span>
            </div>
          </li>
          <li class="row">
            <div class="col-md-2 center-box">
              <span style="color: #046056"><i class="bi bi-aspect-ratio-fill"></i></span>
            </div>
            <div class="col-md-10">
              <span>180 m<sup>2</sup></span>
            </div>
          </li>
          <li class="row">
            <div class="col-md-2 center-box">
              <img src="https://www.banyantree.com/assets/icons/Rooms%20-%20Mountain.svg" alt="#"
                   style="width: 30px; height: 30px">
            </div>
            <div class="col-md-10">
              <span>Garden</span>
            </div>
          </li>
        </ul>
        <div class="mb-3">
          <button class="btn w-100 delete" data-toggle="modal" data-target="#delete">Delete</button>
        </div>
        <div class="mt-3">
          <button class="btn w-100 edit" data-toggle="modal" data-target="#edit">Edit</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

<!--Modal delete-->
<div class="modal" id="delete">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100 text-center" id="confirm">Are you sure you want to delete?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn text-white" onclick="serviceIndex2()"
                style="background-color: #046056">
          Delete
        </button>
        <button type="button" class="btn text-white" data-dismiss="modal" style="background-color: #046056">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>

<!--Modal edit-->
<div class="modal" id="edit">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header w-100">
        <div class="w-100 center-box">
          <form class="w-100">
            <div class="p-3">
              <div class="font-weight-bold form-group center-box" style="font-size: 25px">
                EDIT FACILITY
              </div>
              <div class="form-group">
                <label>Id facility:</label>
                <input type="text"
                       class="form-control text-dark"
                       style="border: solid 2px #046056">
              </div>
              <div class="form-group">
                <label>Name facility:</label>
                <input type="text"
                       class="form-control text-dark"
                       style="border: solid 2px #046056">
              </div>
              <div class="form-group">
                <label>Type facility:</label>
                <input type="text"
                       class="form-control text-dark"
                       style="border: solid 2px #046056">
              </div>
              <div class="form-group">
                <label>Max people:</label>
                <input type="number"
                       class="form-control text-dark"
                       style="border: solid 2px #046056">
              </div>
              <div class="form-group">
                <label>Area service:</label>
                <input type="number"
                       class="form-control text-dark"
                       style="border: solid 2px #046056">
              </div>
              <button onclick="addNew()" class="btn btn-success w-100 text-white"
                      style="background-color: #046056">
                Edit
              </button>
            </div>
          </form>
        </div>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
    </div>
  </div>
</div>

<!--Modal add-->
<div class="modal" id="add">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header w-100">
        <div class="w-100 center-box">
          <form class="w-100">
            <div class="p-3">
              <div class="font-weight-bold form-group center-box" style="font-size: 25px">
                ADD NEW FACILITY
              </div>
              <div class="form-group">
                <label>Id facility:</label>
                <input type="text"
                       class="form-control text-dark"
                       style="border: solid 2px #046056">
              </div>
              <div class="form-group">
                <label>Name facility:</label>
                <input type="text"
                       class="form-control text-dark"
                       style="border: solid 2px #046056">
              </div>
              <div class="form-group">
                <label>Type facility:</label>
                <input type="text"
                       class="form-control text-dark"
                       style="border: solid 2px #046056">
              </div>
              <div class="form-group">
                <label>Max people:</label>
                <input type="number"
                       class="form-control text-dark"
                       style="border: solid 2px #046056">
              </div>
              <div class="form-group">
                <label>Area service:</label>
                <input type="number"
                       class="form-control text-dark"
                       style="border: solid 2px #046056">
              </div>
              <button onclick="addNew()" class="btn btn-success w-100 text-white"
                      style="background-color: #046056">
                Add new
              </button>
            </div>
          </form>
        </div>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
    </div>
  </div>
</div>
